html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
      margin: auto 20px;
  }

  h1 {
      font-size: large;
  }

  header p {
      font-size: x-large;
      text-align: center;
  }

  nav ul {
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      padding: 0;
  }

  aside ul {
      list-style: none;
  }

  @media screen and (min-width: 768px) {
      body {
          margin: 64px 52px;
          font-size: x-large;
          line-height: 36px;
      }

      h1 {
          font-size: xx-large;
      }

      header p {
          font-size: xxx-large;
          font-weight: 600;
      }

      nav ul {
        font-size: xx-large;
      }
  }

  @media screen and (min-width: 1024px){
      body {
          margin: 86px 72px;
      }

      nav ul {
          font-size: x-large;
          margin: 0 30%;
      }
  }